<?xml version="1.0" encoding="UTF-8"?>
<web-app >
<servlet>
<servlet-name>one</servlet-name>
<servlet-class>com.main.PathologistRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>one</servlet-name>
<url-pattern>/pathologist_registration</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>two</servlet-name>
<servlet-class>com.main.PathologistLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>two</servlet-name>
<url-pattern>/pathologist_login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>three</servlet-name>
<servlet-class>com.main.PatientRegister</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>three</servlet-name>
<url-pattern>/patient_registration</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>four</servlet-name>
<servlet-class>com.main.PatientLogin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>four</servlet-name>
<url-pattern>/patient_login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>five</servlet-name>
<servlet-class>com.main.ApplyTest</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>five</servlet-name>
<url-pattern>/test_reg</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>six</servlet-name>
<servlet-class>com.main.PatientUpdate</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>six</servlet-name>
<url-pattern>/update_patient_profile</url-pattern>
</servlet-mapping>
</web-app>