<web-app>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.kims.DoctorRegister</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/doctor_registration</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>doctorLogin</servlet-name>
<servlet-class>com.kims.DoctorLogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>doctorLogin</servlet-name>
<url-pattern>/doctor_login</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>pathologyRegister</servlet-name>
<servlet-class>com.pathology.PathologistRegister</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>pathologyRegister</servlet-name>
<url-pattern>/pathology_registration</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>pathologyLogin</servlet-name>
<servlet-class>com.pathology.PathologistLogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>pathologyLogin</servlet-name>
<url-pattern>/pathology_login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>pathologyReport</servlet-name>
<servlet-class>com.pathology.PathologistReport</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>pathologyReport</servlet-name>
<url-pattern>/report</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>patientRegisters</servlet-name>
<servlet-class>com.patient.PatientRegister</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>patientRegisters</servlet-name>
<url-pattern>/patient_registration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>patientLogin</servlet-name>
<servlet-class>com.patient.PatientLogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>patientLogin</servlet-name>
<url-pattern>/patient_login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>patientReport</servlet-name>
<servlet-class>com.patient.PatientReport</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>patientReport</servlet-name>
<url-pattern>/myReport</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>searchDoctor</servlet-name>
<servlet-class>com.patient.SearchDoctor</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>searchDoctor</servlet-name>
<url-pattern>/search_doctor</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>appointment</servlet-name>
<servlet-class>com.patient.Appointment</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>appointment</servlet-name>
<url-pattern>/appointment</url-pattern>
</servlet-mapping>


</web-app>