<web-app>
<servlet>
<servlet-name>doctorLogin</servlet-name>
<servlet-class>com.kims.LoginController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>doctorLogin</servlet-name>
<url-pattern>/doctor_login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>doctorReg</servlet-name>
<servlet-class>com.kims.RegistrationController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>doctorReg</servlet-name>
<url-pattern>/doctor_registration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>patientLogin</servlet-name>
<servlet-class>com.kims.PatientLoginController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>patientLogin</servlet-name>
<url-pattern>/patient_login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>patientReg</servlet-name>
<servlet-class>com.kims.PatientRegistrationController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>patientReg</servlet-name>
<url-pattern>/patient_registration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DocUp</servlet-name>
<servlet-class>com.kims.DoctorUpdate</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DocUp</servlet-name>
<url-pattern>/doctor_profile_update</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>App</servlet-name>
<servlet-class>com.kims.AppointmentController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>App</servlet-name>
<url-pattern>/appointment</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Search</servlet-name>
<servlet-class>com.kims.SearchController</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Search</servlet-name>
<url-pattern>/search_doctor</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>accept</servlet-name>
<servlet-class>com.kims.AcceptAppointment</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>accept</servlet-name>
<url-pattern>/accept_appointment</url-pattern>
</servlet-mapping>
</web-app>