<web-app>
<servlet>
<servlet-name>empReg</servlet-name>
<servlet-class>com.emp.EmpRegister</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>empReg</servlet-name>
<url-pattern>/employee_reg</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>empLogin</servlet-name>
<servlet-class>com.emp.EmpLogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>empLogin</servlet-name>
<url-pattern>/employee_login</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>mngReg</servlet-name>
<servlet-class>com.manager.ManagerRegister</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>mngReg</servlet-name>
<url-pattern>/manager_reg</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>mngLogin</servlet-name>
<servlet-class>com.manager.ManagerLogin</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>mngLogin</servlet-name>
<url-pattern>/manager_login</url-pattern>
</servlet-mapping>
</web-app>